
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>@DateTime.Now.Year - Copyright &copy;Programacion Avanzada - 2022</span>
        </div>
    </div>
</footer>