<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Acceso denegado.</h1>
        <h2>Rol de usuario sin autorización de acceso.</h2>
    </hgroup>
    <p>@ViewBag.ErrorMessage</p>
</body>
</html>
